div#main-window {
    width: 1800px;
    /* height: 100%; */
    /* min-height: 5in; */
    overflow: auto;
}

/* div#report-area-2 {
    max-height: 500px;
    overflow-y: scroll;
} */

/* div#app-title-div {
    width: 1500px;
} */

.score {
    font-family: monospace;
    font-style: italic;
    /* font-size: x-large; */
    font-size: 2em;
    color: firebrick;
}

h1,
h2 {
    padding: 5px;
}

label {
    padding: 5px;
}

div#features-div {
    width: 1200px;
}

div#behavior-div {
    width: 290px;
    margin-left: 5px;
}

div#alff-div {
    width: 290px;
    margin-left: 5px;
}

textarea#subject-score-detail {
    width: 280px;
}

#slider-1 {
    height: 50px;
    padding: 20px;
}

#howto-open {
    white-space: nowrap;
}

#gh-link {
    white-space: nowrap;
}

.card {
    margin: 1em 0 1em 0;
    min-width: auto;
}

label {
    display: block;
    margin-bottom: 0;
}

#transparent-loader-wrapper > div {
    visibility: visible !important;
}
