div.allow-debug {
    border: 1px solid #ddd;
    border-left: 2px solid #ddd;
    border-top: 1px solid grey;
    transition: transform 0.1s;
    margin-top: 3px;
    background-color: #ddd;
}

div.allow-debug:hover {
    /* transform: scale(0.99); */
    /* margin: 3px; */
    border-top: 1px solid blueviolet;
    border-left: 2px solid blueviolet;
    border-radius: 5px;
}
